<div class="container">
<h3 style="color:blue;">About Easy Move</h3>
<p>This is the sight which helps you decide moving between area, cites and countries</p>
<br>
<p>It helps you in deciding you why you want to go to that place how your move will be successfull at one place</p>
<br>
<p>If some want to move from one place to another. They need lot of information before moving. Like how is that place. Say after completing his college he wants to go out to look for job. Then what area of that city will be good for him to move respective of his stream (what qualifications he have). What facilities he can get in which city and in what part of the city.</p>
<br>
<p>And if some one is changing the job then he can search for the areas nearby his new office. How exactly that place is.</p>
<h2 style="color:blue;">How it helps</h2>
<p>1.	Finding the home: we can suggest them P.G’s, hostels, rented flats..etc.</p>
<p>2.	Finding food: We can suggest them good small restaurants, Dhabas, maids, and also suggest them in that area what all options are there for food.</p>
<p>3.	Finding hospitals: how hospitals, clinics are there in that area.</p>
<p>4.	Finding Institutes: help them find good institutes which are helpful to them.</p>
<p>5.	What all things they need to carry along with them when they are moving to that place.</p>
</div>