<div class="pannel-heading">
  <h3 class="pannel-title">Contact Details</h3>
  <div class="pannel-body">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-4">
          <h2>Details</h2>
        </div>
        <div class="col-xs-8">
          <div class="row">
            <div class="col-xs-6">
              Name
            </div>
            <div class="col-xs-6">
              : {{Contact.Name}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Mobile
            </div>
            <div class="col-xs-6">
              : {{Contact.Mobile}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Phone
            </div>
            <div class="col-xs-6">
              : {{Contact.Phone}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Email
            </div>
            <div class="col-xs-6">
              : {{Contact.Email}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
